.modificarInput1 {
    width: 200px;
    margin: 0 auto;
    float: none;
}

.fondo {
    background-image: url("/imagenes/Fondo1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 97vh;
}

.fondoTic {
    background-image: url("/imagenes/FondoInicio.png");
    background-size:cover;
    background-repeat: no-repeat;
    height: 97vh;
}

.plataforma {
    color: none;
    background-image: url("/imagenes/plataforma.png");
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color: none;
    height: 60px;
    width: 100px;
}

.imagenCentro{
    width: 300px;
}

.BotonJugBot {
    font-weight: bold;
    color: bisque;
}

.cajaImagen{
    margin-left: 3%;
}

button{
    margin-bottom: 40px;
}

/* Tic Tac Toe */

.kirby{
    margin-top: 20px;
    width: 70px;
    height: 70px;
}

.metaKnight{
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.imagenCentroTic{
    width: 200px;
    margin-left: -15%;
    margin-bottom: -8%;
    margin-top: -5%;
}

.textoTic{
    background-color: white;
    width: 150px;
}

.kirbyJug{
    width: 60px;
    height: 60px;
}

.metaJug{
    width: 80px;
    height: 80px;
}

.ocultar{
    visibility: hidden;
}

.plataformaMetaJug {
    color: none;
    background-image: url("/imagenes/plataforma.png");
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color: none;
    height: 87px;
    width: 70px;
    margin-left: 40px;
    margin-top: -10px;
}

.plataformaJug {
    color: none;
    background-image: url("/imagenes/plataforma.png");
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color: none;
    height: 75px;
    width: 70px;
    margin-left: 40px;
}

.tamañoCelda{
    width: 100px;
    height: 100px;
    border: 1px solid white;
}

.mt1 {
    margin-top: 120%;
}

.mtTic{
    margin-top: 120%;
}

.cajaImagenTic{
    margin-left: 10%;
}

.fondoTransparente{
    background-color: rgb(238, 227, 227, 0.3);
}

@media (min-width: 992px){
    .mt {
        margin-top: 20%;
    }

    .mtTic{
        margin-top: 20%;
    }

    .mt1 {
        margin-top: 20%;
    }

    .ml{
        margin-left: 32%;
    }

    .cajaImagen{
        margin-left: 33%;
    }

    .cajaImagenTic{
        margin-left: 33%;
    }

    .tamañoCelda{
        width: 150px;
        height: 150px;
        border: 1px solid white;
    }

    .mlTic{
        margin-left: 50%;
    }
    
    .kirby{
        margin-top: 20px;
        width: 100px;
        height: 100px;
    }
    
    .metaKnight{
        margin-top: 10px;
        width: 120px;
        height: 120px;
    }

    .fondoTransparente{
        background-color: rgb(238, 227, 227, 0.1);
    }
}