.modificarInput1 {
    width: 200px;
    margin: 0 auto;
    float: none;
}

.fondo {
    background-image: url("../imagenes/Fondo1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 97vh;
}

.fondoTic {
    background-image: url("../imagenes/FondoInicio.png");
    background-size:cover;
    background-repeat: no-repeat;
    height: 97vh;
}

.plataforma {
    color: none;
    background-image: url("../imagenes/plataforma.png");
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color: none;
    height: 60px;
    width: 100px;
}

.imagenCentro{
    width: 300px;
}

.BotonJugBot {
    font-weight: bold;
    color: bisque;
}

.cajaImagen{
    margin-left: 3%;
}

button{
    margin-bottom: 40px;
}

.colorTexto{
    color:chartreuse;
    background-color: rgb(0, 0, 0, 0.4);
    margin-top: -60px;
}

.mt {
    margin-top: 95%;
}

.mt2{
    margin-top: -5%;
}

.cajaImagen{
    margin-top: -15%;
}

/* Tic Tac Toe */

.kirby{
    margin-top: 20px;
    width: 70px;
    height: 70px;
}

.metaKnight{
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.imagenCentroTic{
    width: 200px;
    margin-left: -15%;
    margin-bottom: -8%;
    margin-top: -5%;
}

.textoTic{
    background-color: white;
    width: 150px;
}

.kirbyJug{
    width: 60px;
    height: 60px;
}

.metaJug{
    width: 80px;
    height: 80px;
}

.plataformaMetaJug {
    color: none;
    background-image: url("../imagenes/plataforma.png");
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color: none;
    height: 87px;
    width: 70px;
    margin-left: 40px;
    margin-top: 10px;
}

.plataformaDedede {
    color: none;
    background-image: url("../imagenes/plataforma.png");
    background-size: 120px 50px;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color: none;
    height: 90px;
    width: 80px;
    margin-left: 40px;
    margin-top: -10px;
}

.plataformaJug {
    color: none;
    background-image: url("../imagenes/plataforma.png");
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color: none;
    height: 75px;
    width: 70px;
    margin-left: 40px;
    margin-top: 10px;
}

.tamañoCelda{
    width: 100px;
    height: 100px;
    border: 1px solid white;
}

.mt1 {
    margin-top: 120%;
}

.mtTic{
    margin-top: 120%;
}

.cajaImagenTic{
    margin-left: 10%;
}

.fondoTransparente{
    background-color: rgb(238, 227, 227, 0.3);
}

/* Ganador */

#icono{
    margin-top: 10px;
}

.colorGana{
    background-image: url("../imagenes/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: 400px 700px;
    height: 700px;
    width: 500px;
}

.cajaGanador{
    height: 400px;
}

.cajaGanadorBottom{
    height: 90px;
    width: 390px;
    background-color: #f8d653;
    margin-top: 25%;
}

.iconoGana{
    width: 50px;
    height: 50px;
}

.recotarCaja{
    width: 100px;
    height: 100px;
}

.winner{
    margin-left: -10%;
}

.letraGrande{
    font-size: 50px;
}

.infoJug{
    margin-top: 5%;
}

.empezarDeNuevo{
    margin-top: 3%;
    margin-right: 20%;
}

.plataformaMetaGanador{
    color: none;
    background-image: url("../imagenes/plataformaGrande.png");
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position:bottom;
    background-color: none;
    height: 350px;
    width: 400px;
    margin-left: -28%;
    margin-top: 30%;
}

.ganadorMeta{
    width: 350;
    height: 350px;
    margin-left: 40px;
}

.ganadorKirby{
    width: 320;
    height: 320px;
    margin-left: 40px;
}

.fondoTransparenteIcono{
    background-color: rgba(27, 26, 26, 0.3);
}

.mtj{
    margin-top: -10px;
}

#personaje{
    margin-top: 10px;
}

@media (min-width: 992px){
    
    .mt2{
        margin-top: 20%;
    }

    .mt {
        margin-top: 20%;
    }

    .mtTic{
        margin-top: 20%;
    }

    .mt1 {
        margin-top: 20%;
    }

    .ml{
        margin-left: 32%;
    }

    .cajaImagen{
        margin-left: 33%;
        margin-top: -2%;
    }

    .cajaImagenTic{
        left: 23%;
    }

    .tamañoCelda{
        width: 150px;
        height: 150px;
        border: 1px solid white;
    }

    .mlTic{
        margin-left: 50%;
    }
    
    .kirby{
        margin-top: 20px;
        width: 100px;
        height: 100px;
    }
    
    .metaKnight{
        margin-top: 10px;
        width: 120px;
        height: 120px;
    }

    .fondoTransparente{
        background-color: rgb(238, 227, 227, 0.1);
    }

    .colorTexto{
        margin-top: 7px;
    }

    .imagenCentroTic{
        margin-left: -17%;
    }

    /* Ganador */

    .winner{
        margin-left: 10%;
        margin-top: -20px;
    }
    
    .colorGana{
        background-image: url("../imagenes/Fondo.jpg");
        background-repeat: no-repeat;
        background-size: 1365px 608px;
        height: 608px;
        width: 1365px;
    }

    .cajaGanadorBottom{
        height: 100px;
        width: 1353px;
        background-color: #f8d653;
        transform: rotate(-4deg);
        margin-left: 7px;
        margin-top: 0%;
    }

    .letraGrande{
        font-size: 80px;
        margin-right: 4%;
    }

    .recotarCaja{
        margin-right: -20%;
        width: 300px;
        height: 100px;
    }

    .ganadorTrogeo{
        width: 350;
        height: 350px;
        margin-left: 40px;
    }

    .plataformaMetaGanador{
        color: none;
        background-image: url("../imagenes/plataformaGrande.png");
        background-size: 500px 300px;
        background-repeat: no-repeat;
        background-position:bottom;
        background-color: none;
        height: 350px;
        width: 400px;
        margin-left: -0%;
        margin-top: 0%;
    }

    .cajaGanador{
        height: 400px;
    }

    .mtj{
        margin-top: -10px;
    }

    #personaje{
        margin-top: 0px;
    }

    .empezarDeNuevo{
        margin-top: 3%;
        margin-right: 0%;
        margin: 2%;
    }
}